{% extends 'base1.html' %}
{% load static %}
{% block content %}

{% load crispy_forms_tags %}
<!--Contact form-->
<section>
<div class="container text-center mt-3">
    <div class="row justify-content-center">
        <div class="col-6 shadow">
            <div>
                <h1>Ajouter Manager</h1>
                <p> </p>
                <form method="post">
                    {% csrf_token %}
                        {{user_form.first_name|as_crispy_field}}
                        {{user_form.last_name|as_crispy_field}}
                        {{user_form.username|as_crispy_field}}
                        {{user_form.password|as_crispy_field}}
                        {{user_form.email|as_crispy_field}}
                        {{manager_form.mobile|as_crispy_field}}
                        {{manager_form.profile_pic|as_crispy_field}}
                        <div class="form-group mt-3" id="signup-button">
                            <button type="submit" class="btn">Add</button>
                        </div> 
                </form>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock content %}